@CHARSET "UTF-8";

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

a.waves-effect.waves-teal{
    width: 240px;
}

li.menu-lateral{
    padding: 0px;
}

#slide-out li.search {
    position: absolute;
    left: 0;
    right: 0;
    top: 120px;
    margin-top: 1px;
    padding: 1px 0 0 0;
    z-index: 2
}



#slide-out li.search:hover {
    background-color: #fff
}

#index-banner{
    background-color: #00acc1;
}

#index-banner .header{
    color: #FFFFFF;
}

.ocultarElemento{
    display: none;
}


#logo-container{
    height: 116px;
}


ul.side-nav.fixed li.logo {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
    padding-bottom: 50px;
    
}

ul.side-nav.fixed li.logo:hover {
    background-color: transparent
}

header, main, footer {
	padding-left: 240px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.widget-item
{
background-color: white;
margin-bottom: 30px;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 15px;
padding-right: 15px;
}
.widget-item b
{
    display: block;
    margin-bottom: 15px;
}

nav
{
    margin-bottom: 0px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }